/data
data1
data2
data3
data4
data5
data6
try_demo
1-Stages/vector_store_index_docstore.json
1-Stages/vector_store_index.json
1-Stages/document_embeddings.json
1-Stages/index_structure.json
data_uber/
chroma_db
0-examples
2-Stage-Loading/data_parallel/*
2-Stage-Loading/credentials.json
2-Stage-Loading/newstats
2-Stage-Loading/oldstats
2-Stage-Loading/token.json
4-Stage-Storage/storage_context/*
4-Stage-Storage/persist_store
4-Stage-Storage/storage/*
4-Stage-Storage/mongodb_index_ids.json
4-Stage-Storage/redis_storage/*
3-Stage-Index/vector_index_1.json
3-Stage-Index/vector_index_1_docstore.json
3-Stage-Index/document_summary_index_doc_store.json
3-Stage-Index/document_summary_index_vector_store.json
3-Stage-Index/kg.html
3-Stage-Index/property_graph_storage/*
3-Stage-Index/lib/*
data_ipcc/IPCC_AR6_WGII_Chapter03.pdf
5-Querying/bm25_retriever/*
5-Querying/docstore.json
